button {
    background-color: dodgerblue;
    color: white;
    border-radius: 10%;
    font-family: "Comic Sans MS", serif;
}

h1 {
    font-family: "Comic Sans MS", serif;
}

h2 {
    font-family: "Comic Sans MS", serif;
}

h3 {
    font-family: "Comic Sans MS", serif;
}

h4 {
    font-family: "Comic Sans MS", serif;
}

p {
    font-family: "Comic Sans MS", serif;
}

input {
    color: dodgerblue;
}