


button {
    background-color: dodgerblue;
    color: white;
    border-radius: 10%;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: "Inter", sans-serif;
}

h2 {
    font-family: "Inter", sans-serif;
}

h3 {
    font-family: "Inter", sans-serif;
}

h4 {
    font-family: "Inter", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
}

input {
    color: dodgerblue;
}